<h1>Search Results</h1>
<h3> <%= @stores.count %> Total Stores</h3>

<% @stores.each do |store| %>
  <ul class="store">
    <li>Long name: <%= store.long_name %></li>
    <li>City: <%= store.city %></li>
    <li>Distance: <%= store.distance %></li>
    <li>Phone number: <%= store.phone_number %></li>
    <li>Store type: <%= store.store_type %></li>
  </ul>
<% end %>
